<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="/static/my_style.css">
    <style>
      table tr td {
        height: 50px;
        width: 50px;
      }
      .color1 {
        background-color: {{color1}};
      }
      .color2 {
        background-color: {{color2}};
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Dynamic Checkerboard</h1>

    <div class="board">
        <table>
          {% for i in range(height): %}
          <tr>
            {% for j in range(width): %}
            <td class="color{{ (i+j)%2 +1 }}"></td>
            {%endfor%}
          </tr>
          {%endfor%}

        </table>
      </div>

  </body>
</html>
